@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/constants";
@import "../../sass/abstracts/placeholders";

.footer {
  background-color: #d9a2c6;
  padding: 34px;
}
.footer__layout-4-columns {
  text-align: left;

  & > * {
    flex-basis: 11%;
    &:last-child {
      flex-basis: 22%;
    }
  }
}
.footer__title {
  padding: 0 0 20px 0;
  text-align: left;
}

.footer__link {
  @include font(1.4rem, 2.4rem, 400);
  text-decoration: none;
  color: #262626;
  white-space: nowrap;
}

.link-label {
  color: #262626;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.mobile-app__icon {
  width: 162px;
  height: 48px;
  background-image: url("../../components/shared/assets/img/icons/google-play.svg");
}
.social-icon {
  border-radius: 5px;
  width: 32px;
  height: 32px;
  padding: 5px;
  border: 1px solid $color-primary;
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;

  &_facebook {
    background-image: url("../../components/shared/assets/img/icons/facebook.svg");
  }
  &_instagram {
    background-image: url("../../components/shared/assets/img/icons/instagram.svg");
  }
  &_telegram {
    background-image: url("../../components/shared/assets/img/icons/telegram.svg");
  }
  &_youtube {
    background-image: url("../../components/shared/assets/img/icons/youtube.svg");
  }
}

.footer__home-links li {
  & > a {
    @include font(1.4rem, 2.4rem, 400);
    text-decoration: none;
    color: #262626;
  }
}
