html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  box-sizing: border-box;
  @include font(1.6rem, 2.6rem, $weight: normal);
  @extend %font-prim;
  max-width: 1440px;
  margin: auto;
  background-color: $color-light;
  user-select: none;
}

h1 {
  @include font(7rem, 8.6rem);
  text-shadow: 0px 4px 4px #631554;
  letter-spacing: 0.42rem;
  text-transform: uppercase;
  color: $color-primary;
}

h2 {
  @include font(3rem, 4rem);
  color: $color-primary;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h3 {
  @include font(1.8rem, 2.4rem);
  text-align: center;
  margin: 0;
}

// .block-shadowed {
//   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
//   background: $color-light;
//   border-radius: 10px;
// }
