.navigation {
   display: flex; 
   gap: 40px;
}

.navigation__link {
    text-align: left;
    padding: 30px 0;
    @include font(1.8rem, 2.4rem );
    cursor: pointer;
    color: $color-primary;
    @extend %transition;
    &:hover {
        text-shadow: 0px 4px 4px $color-primary-light;
    }
}

.dropdown {
    width: 240px;
    position: relative;
    
}

.dropdown__content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: $color-bg-light;
    @include font(1.4rem, 2.4rem, 400);
}

.dropdown-item  {
    display: block;
    cursor: pointer;
    color: $color-text-dark;
    padding: 16px 16px 16px 72px;
    text-decoration: none;
    &:hover {
        background-color: $color-primary-light-header;
        color: $color-primary;
    }
}