$color-primary: #ad2e95;
$color-primary-light: #d9a1c6;
$color-primary-light-header: #EDDCE4;
$color-complimentary: #ad2e95;
$color-hovered-primary: rgba(173, 46, 149, 0.70);
$color-secondary: #A1C2D1;
$color-bg-light: #fff;
$color-text-dark: #050002;
$color-text-grey:#BFBFBF;
$color-border: lightgray;
$color-hover: lightgray;
$color-light: white;

$content-width: 1160px;
