@import "../../sass/abstracts/mixins";
@import "../../sass/abstracts/constants";
@import '../../sass/abstracts/placeholders';

.header {
  position: sticky;
  top: 0;
  background-color: $color-primary-light-header;
  padding: 0 40PX;
  box-shadow: 0px 2px 4px 0px rgba(236, 179, 217, 0.5);
  z-index: 1;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__navigation {
  margin-right: auto;
}

.logo {
  display: block;
  background-image: url('../../images/icons/logo.svg');
  width: 67px;
  height: 87px;
}

.logo-color {
  fill: $color-primary;
}

.logo.header__logo {
  margin: 15px 0 10px auto;
}

.header__wrapper a {
  flex-grow: 1;
}
.header__buttons {
  
  width: 50%;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}