@import "../../../../sass/abstracts/mixins";
@import "../../../../sass/abstracts/constants";
@import "../../../../sass/abstracts/placeholders";

.search-bar {
  margin-right: 0;
  background-color: $color-primary-light-header;
  width: 70%;
  justify-content: flex-end;
  display: flex;
  margin: 0 auto;
  &_hero {
    display: flex;
    margin: 0 auto;
    border: 1px solid $color-primary;
    background-color: $color-bg-light;
    justify-content: flex-end;
  }
  &_header {
    margin-left: 20px;
  }
}

.search__input {
  margin-right: 10px;
  border-radius: 5px;
  background-color: $color-bg-light;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px 10px;
  @extend %font-sec;
  &_hero {
    background-color: $color-bg-light;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px 10px;
    @extend %font-sec;
  }
  &_header {
    margin-left: 20px;
  }
}

.search-bar_header .search__icons {
  border-radius: 4px;
}

.search__icons {
  cursor: pointer;
  margin-right: 0;
  &_hero {
    background-color: $color-primary;
  }
}

.search__icon {
  vertical-align: text-top;
  display: inline-block;
}
