.hero {
  background-image: url('../images/backgrounds/mainbg-1.png');
  background-size: cover;
  margin-bottom: 200px;
}

.hero__wrapper {
  
  padding: 120px 0 150px;
  
}

.hero__glass {
  border-radius: 16px;
  
  width: fit-content;
  

}

.hero__content {
  padding: 0 36px;
  max-width: 563px;
  text-align: left;
  
}

.search-bar {
  margin: 0 auto;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  display: flex;
  margin: 0 auto;
  
}

.search__input {
  background-color: $color-bg-light;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px 10px;
  @extend %font-sec;
}

.search__icons {
  background-color: $color-primary;
cursor: pointer;
 text-align: center;
}

.search__icon {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('../images/icons/Vector.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 15px;
}

.hero__title {
  border-radius: 16px 16px 0 0;
  padding: 10px 40px;
  margin: 0;
  color: $color-bg-light;
  background: $color-complimentary;
  width: 100%;
}

.hero__text {
  @include font(2.4rem, 3.2rem, $weight: 700);
  color: $color-light;
  margin: 0;
  padding: 15px 0 30px;
}


.hero__tags_layout {
 gap:30px;
 padding: 50px 0 20px;
 
}

