.social-icons{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    &>* {
        vertical-align: text-top;
        background-color: $color-hovered-primary;
        border-radius: 5px;
        width: 32px;
        height: 32px;
        padding: 8px;
    }
}